asgiref==3.6.0
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_477u68wvzm/croot/certifi_1671487773341/work/certifi
Django==4.1.5
django-admin-interface==0.24.2
django-colorfield==0.8.0
Pillow==9.4.0
sqlparse==0.4.3
